body {
	text-align: center; background-color: #eeeeff; 
	}

.quadrado {border: solid 1px black;}

canvas {background-color: #000; border: 1px solid green; min-width: 40%}

button {height: 300px; width:300px;}
