body {
	text-align: center; background-color: #eeeeff; 
	}

.quadrado {border: solid 1px black;}

canvas {background-color: #000; border: 1px solid teal; min-width: 40%}

button {width:23%;}
